<div class="error-page">
    <div class="error-page__decoration">
        <div class="error-page__decoration-item">
            <div class="error-page__decoration-filter"></div>
            <img src="https://s3-alpha-sig.figma.com/img/c6ee/1877/10ec15a1126769db4e540c7a30ea3396?Expires=1659312000&Signature=MRYWZLhcHSHFoHkJSYT-jZyh4DirMPetGUfxp758zXiTKOEzsxMSbjLDUtJKhbz7GazK6FiylSGh4N87HklGw2GF3HilMNlMTGvl71QlwDcURNAcHU22WaPrcVEVx9E8wBuRLPNd3Doiy5Gudvarj8C9qnuYE~vjCjmcnykONU43INh0kSgRmghF0rroIbKVAMviLOIAr-x8oC06hUjHmxgPi3~LPC2sYLf2GbQIMHiSz0WeEXDfgt0IXelC7bq~W-uwbbJi1B4G~f~vsBT0u54XdcFPE8gXk8uiFTbXzxlne0W614S~UFcEmcGj~rh8mzaSZ7aPW~7s6JT47U-Ymw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="error-page__decoration-item">
            <div class="error-page__decoration-filter"></div>
            <img src="https://s3-alpha-sig.figma.com/img/c6ee/1877/10ec15a1126769db4e540c7a30ea3396?Expires=1659312000&Signature=MRYWZLhcHSHFoHkJSYT-jZyh4DirMPetGUfxp758zXiTKOEzsxMSbjLDUtJKhbz7GazK6FiylSGh4N87HklGw2GF3HilMNlMTGvl71QlwDcURNAcHU22WaPrcVEVx9E8wBuRLPNd3Doiy5Gudvarj8C9qnuYE~vjCjmcnykONU43INh0kSgRmghF0rroIbKVAMviLOIAr-x8oC06hUjHmxgPi3~LPC2sYLf2GbQIMHiSz0WeEXDfgt0IXelC7bq~W-uwbbJi1B4G~f~vsBT0u54XdcFPE8gXk8uiFTbXzxlne0W614S~UFcEmcGj~rh8mzaSZ7aPW~7s6JT47U-Ymw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="error-page__decoration-item">
            <div class="error-page__decoration-filter"></div>
            <img src="https://s3-alpha-sig.figma.com/img/c6ee/1877/10ec15a1126769db4e540c7a30ea3396?Expires=1659312000&Signature=MRYWZLhcHSHFoHkJSYT-jZyh4DirMPetGUfxp758zXiTKOEzsxMSbjLDUtJKhbz7GazK6FiylSGh4N87HklGw2GF3HilMNlMTGvl71QlwDcURNAcHU22WaPrcVEVx9E8wBuRLPNd3Doiy5Gudvarj8C9qnuYE~vjCjmcnykONU43INh0kSgRmghF0rroIbKVAMviLOIAr-x8oC06hUjHmxgPi3~LPC2sYLf2GbQIMHiSz0WeEXDfgt0IXelC7bq~W-uwbbJi1B4G~f~vsBT0u54XdcFPE8gXk8uiFTbXzxlne0W614S~UFcEmcGj~rh8mzaSZ7aPW~7s6JT47U-Ymw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
    </div>
    <div class="error-page__content">
        <h1 class="error-page__title">404</h1>
        <span class="error-page__subtitle">Page not found</span>
        <a class="error-page__link">вернуться</a>
    </div>
</div>