@use 'mixins/media.scss' as m;

@mixin mainTitle {
    font-size: 12.5rem;
    @include m.resTablet {
        font-size: 6.25rem
    }
}

@mixin mainTabletTitle {
    font-size: 3rem;
    line-height: 1.08;
    font-weight: 500;
}

@mixin mainMobileTitle {
    font-size: 1.8rem;
    line-height: 1.08;
    font-weight: 500;
}

@mixin h1 {
    font-size: 9.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    @include m.resTablet {
        font-size: 5rem;
    }
    @include m.resMobile {
        font-size: 2.8125rem;
    }
}

@mixin h2 {
    font-size: 3.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.272727272727273;
    @include m.resMobile {
        font-size: 1.5625rem;
        line-height: 1.2;
    }
}

@mixin h3 {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    @include m.resMobile {
        font-size: 0.9375rem;
        line-height: 1.4;
    }
}