@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;
@use 'mixins/buttons.scss' as b;



.about {
    min-height: max(400px, 100vh);
    width: 100%;
    display: flex;
    overflow: hidden;
    color: v.$darkOrange;
    background-color: v.$darkGrey;
    position: relative;
    &__content {
        width: 100%;
        overflow: visible;
        align-items: center;
        max-height: 100vh;
        transition: 0.5s linear;
        @include t.mainTitle;
        display: flex;
        height: max-content;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        position: relative;
        min-width: min-content;
        white-space: nowrap;
        max-width: max-content;
        // margin-left: -16.1em;
        margin-left: 10em;
        font-weight: 700; 
        line-height: unset;
        @include t.mainTitle;
        &--stroke {
            color: v.$darkGrey;
            text-shadow: 2px 0 2px v.$orange, 
            0 2px 2px v.$orange, 
            -2px 0 2px v.$orange, 
            0 -2px 2px v.$orange;  
        }
    }
    &__column {
        position: absolute;
        // top: 4rem;
        opacity: 1;
        min-width: 25rem;
        max-width: 25rem;
        align-self: flex-end;
        color: v.$black;
        left: 62rem;
        top: 100rem;
    }
    &__subtitle {
        @include f.paragraphDefault();
        line-height: 1.6;
        font-weight: 300;
    }
    &__paragraph {
        line-height: 1.2;
        margin-top: 1.3125rem;
        span {
            color: v.$orange;
        }   
    }
    &__companies {
        margin-top: 9.375rem;
        display: flex;
    }
}
