@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;
@use 'mixins/buttons.scss' as b;

.benefits {
    @include c.mainContainer();

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__image-box {
        width: 39.375rem;
        height: 38.125rem;
        @include m.resMobile {
            width: 100%;
            height: 19.25rem;
            order: 1;
            margin-top: 1.875rem;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info-box {
        width: 46.25rem;
        @include m.resMobile {
            width: 100%;
        }
    }

    &__card-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & + & {
            margin-top: 7.5rem;
        }
        &--right {
            & .benefits__image-box {
                order: 1;
            }
            & .benefits__info-box {
                order: 0;
            }
        }
        @include m.resMobile {
            flex-direction: column;
            & + & {
                margin-top: 5rem;
            }
        }
    }

    &__title {
       @include t.h2(); 
       line-height: 1;
       margin-bottom: 3.75rem;
       max-width: 100%;
       @include m.resMobile {
        line-height: 1;
        margin-bottom: 1.875rem;
        }
    }

    &__subtitle {
        @include f.paragraphDefaultMedium();
        line-height: 1.5;
        max-width: 100%;
        @include m.resMobile {
            line-height: 1.421;
        }
    }

    &__paragraph {
        max-width: 100%;
        @include f.paragraphDefault();
        line-height: 1.5;
    }

    &__paragraph-box {
        & + & {
            margin-top: 1.875rem;
        }
        @include m.resMobile {
            margin-top: 1.25rem;
        }
    }

}