@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;

.brands {
    @include c.mainContainer();
    margin-bottom: 7.5rem;
    @include m.resTablet {
        margin-bottom: 8rem;
    }
    @include m.resMobile {
        margin-bottom: 5rem;
    }
    &__title {
        margin-top: 9.75rem;
        margin-bottom: 3.75rem;
        @include t.h1();
        @include m.resTablet {
            
        }
        @include m.resTablet {
            margin-top: 8.5625rem;
            margin-bottom: 2.1875rem;
            width: 100%;
        }
    }

    &__paragraph {
        @include f.paragraphDefaultMedium();
        width: 54.125rem;
        margin-bottom: 7.5rem;
        @include m.resTablet {
            width: 100%;
            margin-bottom: 5.125rem;
        }
    }

    &__span {
        color: v.$orange;
        @include m.resMobile {
            
        }
    }

    // &__background__image {
    //     width: 10rem;
    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }
    &__image-box {
        width: 24.3125rem;
        height: 24.3125rem;
        border-radius: 100%;
        position: absolute;
        right: 21.0625rem;
        top: 16.0625rem;
        z-index: -1;
        @include m.resTablet {
            width: 10.1875rem;
            height: 10.1875rem;
            right: 3%;
            top: 16.5%;
        }
    }

    &__image-opacity {
        background: rgba(255, 77, 0, 0.5);
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
        top: 0rem;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;   
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.75rem;
        position: relative;
        @include m.resTablet {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.0625rem;
        }
    }

    &__grid-item {
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            padding-bottom: 55.55555555555556%;
            
        }
        position: relative;
        &:first-child {
            grid-column: 1/3;
            &::before {
                content: "";
                display: block;
                padding-bottom: 26.66666666666667%;
            }
        }
        &:hover {
            .brands__logos {
                // transform: translateY(25%);
            }
            .brands__item-paragraph {
                // opacity: 1;
            }
            .brands__grid-image {
                scale: 1.05;
            }
        }
        @include m.resTablet {
            &:first-child {
                grid-column: 1;
                &::before {
                    content: "";
                    display: block;
                    padding-bottom: 55.55555555555556%;
                    
                }
            }
        }
    }
    &__item-content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
    }

    &__grid-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        transition: 0.4s ease-in-out;
    }

    &__item-box {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logos {
        transform: translateY(50%);
        transition: 0.4s ease-in-out;
        display: flex;
        @include m.resTablet {
            transform: translateY(0);
        }
    }

    &__grid-name {
        display: block;
        width: 14rem;
        padding: 0.5rem 0;
        height: 4.375rem;
        & + & {
            margin-left: 2rem;
            padding-left: 2rem;
            border-left: 2px solid v.$white;
        }
        @include m.resMobile {
            width: 6.375rem;
        }
    }

    &__item-paragraph {
        @include f.paragraphDefaultRegular();
        color: v.$white;
        margin-top: 1.5625rem;
        padding: 0 7rem 0 7rem;
        text-align: center;
        // opacity: 0;
        transition: 0.4s ease-in-out;
        @include m.resTablet {
            padding: 0 2rem;
            opacity: 1;
        }
        @include m.resMobile {
            margin-top: 0.8125rem;
            padding: 0 2.7rem 0 2.7rem;
            font-size: 0.8rem;
            line-height: 1;
        }
    }

    &__grid-opacity {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}