@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;
@use 'mixins/buttons.scss' as b;


.cooperation {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 400px;
    align-items: center;
    @include m.resTablet {
        height: auto;
        min-height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: v.$tabletP;
    }
    @include m.resMobile {
        padding: v.$mobileP;
    }
    &__title {
        @include t.mainTitle;
        font-weight: 800;
        color: v.$white;
        transform: translateX(-0.1em);
        display: flex;
        flex-direction: column;
        @include m.resTablet {
            @include t.mainTabletTitle;
            font-weight: 500;
            flex-direction: row;
        }
        @include m.resMobile {
            @include t.mainMobileTitle;
        }

    }

    &__layout {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(255, 77, 0, 0.7);
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -2;
        }
        z-index: -1;
    }

    &__content {
        color: v.$white;
        max-width: 46.3125rem;
        margin-left: 12.5rem;
        @include m.resTablet {
            margin-left: 0;
            margin-top: 1.5625rem;
            max-width: auto;
        }
    }

    &__subtitle {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid v.$white;
        width: 22.5rem;
        @include f.paragraphLarge;
        font-weight: 800;
        & + & {
            margin-top: 1rem;
        }
        @include m.resTablet {
            width: 100%;
            font-size: 1rem;
            line-height: 1.125rem;
            padding-bottom: 0.5rem;
        }
    }

    &__value {
        margin-right: 1.25rem;
        @include t.h2;
        font-weight: 800;
        @include m.resTablet {
            font-size: 2.8125rem;
            line-height: 3.4375rem;
            margin-right: 0.5rem;
        }
    }
    &__paragraph {
        margin-top: 3.125rem;
        @include f.paragraphLarge;
        @include m.resTablet {
            margin-top: 1.375rem;
            font-size: 1rem;
            line-height: 1.125rem;
        }
        & + & {
            margin-top: 1.25rem;
        }
    }
    &__button {
        margin-top: 3.125rem;
        @include m.resTablet {
            margin-top: 1.375rem;
        }
    }
}