@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;

@keyframes circleShow {
    0% {
        height: 0;
        width: 0%
    }
    100% {
        height: 200vw;
        width: 200vw;
    }
}

.hero {
    padding-top: 1rem;
    width: 100%;
    position: relative;
    overflow: auto;
    height: 100vh;
    min-height: 400px;
    background-color: v.$darkGrey;
    overflow: hidden;
    &--active {
        .hero__layout {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
        }
        .hero__title {
            &--light {
                margin-left: 9.8125rem;
                @include m.resTablet {
                    margin-left: 0;
                }
            }
            &--bold {
                margin-left: 11.1875rem;
                @include m.resTablet {
                    margin-left: 0;
                }
            }
        }
    }
    &__background-content {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;
            pointer-events: none;
            &::-webkit-media-controls {
                display:none !important;
            }
            @include m.resTablet {
                display: none;
            }
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
            height: 100%;
            pointer-events: none;
            @include m.resDesktop {
                display: none
            }
        }
    }
    &__title {
        @include t.mainTitle;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100vw;
        display: inline-block;
        color: v.$white;
        line-height: unset;
        @include m.resTablet {
            font-size: 10vw;
            width: auto;
        }
        
        &--light {
            font-weight: 100;
            margin-left: -150rem;
            transition: 0.5s ease-in-out;
            @include m.resTablet {
                margin-left: 0;
            }
        }
        &--bold {
            font-weight: 800;
            position: relative;
            top: -8rem;
            margin-left: 150rem;
            transition: 0.5s ease-in-out;
            @include m.resTablet {
                top: -0.65em;
                left: 0.1em;
                margin-left: 0;
            }
            @include m.resMobile {
                top: -0.6em;
                left: 0.15em;
            }
        }
    }
    
    
    &__layout {
        border-radius: 100%;
        background-color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50rem;
        height: 50rem;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 1;
        transition: 0.5s ease-in-out;
        @include m.resTablet {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
        }
    }
}