@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;

.key-numbers {
    display: flex;
    flex-direction: column;
    background-color: v.$white;
    @include m.resDesktop {
        height: max(400px, 100vh);
    }
    @include m.resTablet {
        background-color: v.$darkGrey;
        gap: 2rem;
        padding: v.$tabletP;
    }

    @include m.resMobile {
        padding: v.$mobileP;
    }

    &__header {
        display: flex;
        align-items: center;
        margin: 13.75rem 18.75rem 6.25rem 18.75rem;
        justify-content: space-between;
        gap: 2rem;
        @include m.resTablet {
            margin: 0;
            gap: 0;
            display: block;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin: 0 23.5rem 0 25.75rem;
        justify-content: space-between;
        @include m.resTablet {
            margin: 0;
            gap: 0;
            display: block;
        }
    }

    &__clients {
        display: flex;
        flex-direction: column;
        color: v.$white;
        @include m.resTablet {
            margin-bottom: 2rem;
        }
        @include m.resMobile {
            margin-bottom: 10vw;
        }
    }

    &__clients-number, &__countries-number {
        font-size: 8rem;
        line-height: 1;
        font-weight: 800;
        @include m.resTablet {
            font-size: 6rem;
        }
        @include m.resMobile {
            font-size: 3.8125rem;
        }
    }
    &__countries-number {
        @include m.resTablet {
            font-size: 5rem;
        }
    }
    &__clients-subtitle, &__brands-subtitle, &__countries-subtitle, &__rating-subtitle {
        line-height: 1;
        @include f.bigText;
        font-weight: 800;
        @include m.resTablet {
            font-size: 2rem;
        }
        @include m.resMobile {
            font-size: 1.5rem;
        }
    }

    &__brands, &__countries, &__rating {
        display: flex;
        align-items: center;
        color: v.$white;
        font-weight: 800;
        line-height: 1;
    }

    &__brands {
        @include m.resTablet {
            justify-content: end;
        }
        
    }

    &__countries {
        color: v.$orange;
        @include m.resTablet {
            margin-bottom: 2rem;
        }
    }

    &__countries-number {
        display: inline-block;
        min-width: 8.125rem;
        @include m.resTablet {
            min-width: auto;
            margin-right: 1rem;
        }
    }

    &__brands-number, &__rating-number {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        background-color: v.$orange;
        border-radius: 100%;
        margin-right: 1rem;
        width: 10rem;
        height: 10rem;
        @include m.resTablet {
            font-size: 3rem;
            width: 8rem;
            height: 8rem;
        }
        @include m.resMobile {
            width: 6rem;
            height: 6rem;
        }
    }

    &__rating-number {
        @include m.resTablet {
            font-size: 5rem;
        }
        @include m.resMobile {
            font-size: 3rem;
        }
    }

    &__rating {

    }
    &__rating-number {
        width: 16rem;
        height: 16rem;
        background-color: v.$white;
        color: v.$darkGrey;
        margin-right: 2rem;
        @include m.resTablet {
            width: 15rem;
            height: 15rem;
            min-width: 15rem;
            min-height: 15rem;
            margin-right: 1rem;
        }
        @include m.resMobile {
            width: 8rem;
            height: 8rem;
            min-width: 8rem;
            min-height: 8rem;
        }
    }
    
}