@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;
@use 'mixins/buttons.scss' as b;

.offer-form {
    @include c.mainContainer();
    margin-top: 18.75rem;
    margin-bottom: 18.75rem;

    &__container {
        display: flex;
        justify-content: space-between;
        @include m.resTablet {
            flex-direction: column;
        } 
        @include m.resMobile {
            flex-direction: column;
        }
    }

    &__info-box {
        width: 100%;
        @include m.resTablet {
            margin-bottom: 3rem;
        }
        @include m.resMobile {
            margin-bottom: 3.75rem;
        }
    }

    &__title {
        @include t.h3();
        line-height: 1.5;
        max-width: 31.375rem;
        margin-bottom: 3.75rem;
        @include m.resTablet {
            margin-bottom: 1.875rem;
        } 
        @include m.resMobile {
            line-height: 1.333333333333333;
            max-width: 100%;
            margin-bottom: 1.875rem;
        }
    }

    &__paragraph {
        max-width: 35.1875rem;
        @include f.paragraphDefault();
        line-height: 1.5;
    }

    &__form-box {
        width: 100%;
        @include m.resMobile {
            width: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-item {
        padding-bottom: 1rem;
        margin-bottom: 2.8125rem;
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
        @include f.paragraphDefault();
        line-height: 1.4;
        transition: 0.3s ease-in-out;
        padding-left: 1rem;
        &:focus {
            border-color: v.$orange;
        }
        @include m.resTablet {
            padding-left: 0;
        } 
        @include m.resMobile {
            font-size: 0.625rem;
            line-height: 1.4;
            padding-bottom: 0.8125rem;
            margin-bottom: 2.5rem;
        }
    }

    &__form-item::placeholder {
        padding-left: 0.5rem;
        @include m.resTablet {
            padding-left: 0;
        } 
        @include m.resMobile {
            padding-left: 0;
        }
    }

    &__button {
        margin-top: 0.9375rem;
        margin-left: auto;
        @include b.buttonDefault;
    }
}

.buttonAAA {
    @include b.buttonDefault
}
