@use 'mixins/vars.scss' as v;
@use 'mixins/font-styles.scss' as f;
@use 'mixins/media.scss' as m;
@use 'mixins/titles.scss' as t;
@use 'mixins/containers.scss' as c;
@use 'mixins/buttons.scss' as b;

.title-w-paragraph {
    @include c.mainContainer();
    margin-top: 18.75rem;
    @include m.resTablet {
        margin-top: 5rem;
    }
    &__container {
        display: flex;
        gap: 8rem;

        @include m.resTablet {
            flex-direction: column;
            gap: 0;
        } 

        @include m.resMobile {
            flex-direction: column;
            gap: 0;
        }
        
    }

    &__title-box {
        width: 39.375rem;
        min-width: 39.375rem;

        @include m.resTablet {
            margin-bottom: 2rem;
            min-width: auto;
        }  

        @include m.resMobile {
            width: 100%;
            max-width: 18rem;
            margin-bottom: 1.6875rem;
        }
    }

    &__title {
        @include t.h2(); 
        line-height: 1.4;
        max-width: 100%;
        
    }

    &__text-box {
        @include m.resMobile {
            width: 100%;
        }
    }

    &__text {
        @include f.paragraphDefault();
        & + & {
            margin-top: 2.8125rem;
        }
        @include m.resMobile {
            & + & {
                margin-top: 1.333333333333333rem;
            }
        }
        @include m.resTablet {
            & + & {
                margin-top: 1rem;
            }
        }  
    }

    &__span {
        color: v.$orange;
    }
}